/*! STILI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&display=swap%27');

.templateContainer {
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: white;
    width: 1000px;
    height: 700px;
    font-family: 'Outfit', sans-serif;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}
.logo {
    width: 18%;
}
         /*! STILI ADD */
        .addFlex {
            display: flex;
        }

         /*! BUTTON GENERAL */
        .nextPoint {
            background-color: aqua;
            color: rgb(20, 0, 69);
            font-size: 1.2rem;
            border: 0;
            font-weight: bold;
            padding: 15px 50px;
            box-shadow: rgba(102, 255, 255, 0.7) 0 -5px 15px, rgba(102, 255, 255, 0.7) 0 5px 15px;
        }
        
        /*! FONT */

        .h1 {
            font-size: 4rem;
        }

        .h2 {
            font-size: 2rem;
        }

        .h3 {
            font-size: 1.5rem;
        }

        .h4 {
            font-size: 1.2rem;
        }

        .p {
            font-size: 1rem;
            line-height: 1.2;
        }

        .bold {
            font-weight: bold;
        }

/*! FIRST PAGE*/
.first {
    font-weight: 200;
}
.first .header {
    margin-bottom: 40px;
    padding-top: 40px;
    padding-left: 100px;
}

.first .main {
    padding: 40px 100px;
}

.purple {
    color: fuchsia;
    font-size: x-large;
    margin-top: 30px;
    margin-bottom: 10px;
}

#lista {
    margin-top: 30px;
}
#lista li {
    margin-top: 5px;
    margin-left: 20px;
}

.first .footer {
    padding: 60px 100px;

}
.first .chekContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.first .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.first .checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: white 2px solid;
    margin-top: -2px;
}

.first .footer .checkText {
    font-size: 0.8rem;
    margin-right: 250px;
    margin-left: 30px;
}

.checkContainer:hover input ~ .checkmark {
    background-color: white;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkContainer .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.first .footer .nextPoint{
    justify-content: right;
    margin-bottom: 10px;
    margin-top: -15px;
}


/*! SECOND PAGE*/


/*! THIRD PAGE*/

.resultsTitle{
    text-align: center;
}

.third .header {
    margin-bottom: 40px;
    padding-top: 40px;
    padding-left: 100px;
}
.third .main .resultsTitle .h2{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.third .main .resultsTitle .h4{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.third .main .results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.third .main .results div{
    width: 200px;
}

.third .main .results .correctAnswers .riga1{
    font-size: 3rem;
}

.third .main .results .correctAnswers .riga2{
    font-size: 3rem;
    font-weight: 900;
}

.third .main .results .correctAnswers .riga3{
    font-weight: 200;
}

.third .main .results .wrongAnswers{
    text-align: right;
}

.third .main .results .wrongAnswers .riga1{
    font-size: 3rem;
}

.third .main .results .wrongAnswers .riga2{
    font-size: 3rem;
    font-weight: 900;
}

.third .main .results .wrongAnswers .riga3{
    font-weight: 200;
}

.third .main .results .examResults{
    width: 20%;
    text-align: center;
}

.third .main .results .examResults .happySad{
    font-weight: 600;
}

.third .main .results .examResults .esito{
    font-weight: 600;
    color: #00ffff;
}

.third .main .addFlex{
    justify-content: center;
    padding-top: 3rem;
}

#rate{
    text-align: center;
    background-color: transparent;
    border : 2px solid white;
    color: white;
    box-shadow: none;
}

/*! FOURTH PAGE*/