/*! STILI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&display=swap%27');
.templateContainer {
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: white;
    width: 1000px;
    height: 650px;
    font-family: 'Outfit', sans-serif;
    padding: 40px 100px;
}

.logo {
    width: 17%;
}

.header {
    margin-bottom: 50px;
}


/*! STILI ADD */

.addFlex {
    display: flex;
}


/*! BUTTON GENERAL */

.nextPoint {
    background-color: #00ffff;
    color: rgb(20, 0, 69);
    font-size: 1.2rem;
    border: 0;
    font-weight: bold;
    padding: 15px 50px;
    box-shadow: #00ffff 0 -5px 15px, #00ffff 0 5px 15px;
}

.nextPoint:hover  {
    background-color: rgba(0, 255, 255, 0.874);
    color: white;
}


/*! FONT */

.h1 {
    font-size: 4rem;
}

.h2 {
    font-size: 3rem;
}

.h3 {
    font-size: 1.5rem;
}

.h4 {
    font-size: 1.2rem;
}

.p {
    font-size: 1rem;
    line-height: 1.2;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: 900;
}

.thin {
    font-weight: 200;
}


/*! FIRST PAGE*/

.purple {
    color: #D20094;
    font-size: x-large;
    margin-top: 30px;
    margin-bottom: 10px;
}

#lista {
    margin-top: 30px;
}

#lista li {
    margin-top: 5px;
    margin-left: 20px;
}

.first .footer {
    padding: 60px 0;
}

.first .chekContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.first .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.first .checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: white 2px solid;
    margin-top: -2px;
}

.first .footer .checkText {
    font-size: 0.8rem;
    margin-right: 250px;
    margin-left: 35px;
}

.checkContainer:hover input~.checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkContainer input:checked~.checkmark:after {
    display: block;
}

.checkContainer .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.first .footer .nextPoint {
    justify-content: right;
    margin-bottom: 10px;
    margin-top: -15px;
}


/*! SECOND PAGE*/

.timerContainer {
    position: relative;
    width: 100%;
}

#myTimer {
    max-width: 110px;
    max-height: 110px;
    position: absolute;
    left: 760px;
    top: 30px;
    transform: translate(-50%, -50%);
}
.question {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 70px;
}

.questFlex {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttQuest {
    width: 350px;
    height: 70px;
    border-radius: 150px;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.buttQuest:hover {
    background-image: linear-gradient(#D20094, #900080);
}

.questionNumber {
    margin-top: 40px;
    text-align: center;
}

.questionNumber span {
    color: #D20094;
}


/*! THIRD PAGE*/

.resultsTitle {
    text-align: center;
}

.third .main .resultsTitle .h2 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.third .main .resultsTitle .h3 {
    margin-bottom: 0.8rem;
}

.third .main .results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 75px;
}

.third .main .results div {
    width: 160px;
}

.third .main .results .wrongAnswers {
    text-align: right;
}

.third .main .results .examResults {
    width: 20%;
    text-align: center;
}

.third .main .results .examResults .esito {
    color: #00ffff;
}

.third .main .results .examResults .cosaFare {
    margin-top: 15px;
    font-size: 0.8rem;
}

.chartContainer {
    position: relative;
}

#myCanvas {
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    top: 150px;
    left: 400px;
    transform: translate(-50%, -50%);
}

.third .main .addFlex {
    justify-content: center;
    padding-top: 3rem;
}

.rate {
    text-align: center;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    box-shadow: none;
}


/*! FOURTH PAGE*/

.fourth .main {
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}

.fourth .h2 {
    margin-top: 80px;
}

.fourth .h3 {
    margin-top: 30px;
}

.fourth .stars {
    margin-top: 30px;
    margin-bottom: 60px;
    display: inline-block;
}

.fourth .stars i {
    font-size: 2.5rem;
    margin: 4px;
    cursor: pointer;
    color: rgba(23, 0, 57, 0.5);
    transition: color 0.2s
}
.fourth .stars i.active{
    color: #00ffff
}

.fourth .h3 {
    margin-top: 30px;
}

.fourth .comment {
    margin-top: 30px;
    width: 100%;
    padding-bottom: 5px;
    background: transparent;
    border: none;
    border-bottom: #D20094 1px solid;
}

.fourth .nextPoint {
    margin-top: 50px;
}