#immagineBackground {
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    box-sizing: border-box;
    color: white;
}

#header {}

#logo {
    max-width: 100%;
    height: auto;
    width: 20%;
}